@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


.content {
    border-radius: 12px;
    display: flex;
    width: 175px;
    height: 218.75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
    background-attachment:scroll; 
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    box-shadow: 0 0 15px #ccc;
}

#Seivrtd {
    background-image: url('/Media/square-seivrtd.webp');
}

#Yarin {
    background-image: url('/Media/Yarin.webp');
}

#Jake-Portolese {
    background-image: url('/Media/Jake.webp');
}

#Reimer {
    background-image: url('/Media/Reimer.webp');
}

#Timothé-Bigé {
    background-image: url('/Media/Timothé.webp');
}

#Younes-Oufqir {
    background-image: url('/Media/Younes.webp');
}

#Mirand-Redzepi {
    background-image: url('/Media/Mirand.webp');
}

#Alex-Nguen {
    background-image: url('/Media/Alex.webp');
}

#Djons {
    background-image: url('/Media/Djons.webp');
}

#Leonid-Aghasyan {
    background-image: url('/Media/Leonid.webp');
}

#Daisuke-Hiramatsu {
    background-image: url('/Media/Daisuke.webp');
}

#Francisco-Rossi {
    background-image: url('/Media/Francisco.webp');
}

#Antonio-Petrucci {
    background-image: url('/Media/Antonio.webp');
}

#Mamache-Idir {
    background-image: url('/Media/Mamache.webp');
}

#Yair-Drory {
    background-image: url('/Media/Yair.webp');
}

:root {
    --overlay-color: #7b8a91;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(0, 0, 0);
}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: 2;
    transition: 1.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    filter: invert(100%);
    position: relative;
    width: 60px;
    height: 60px;
    background: url('https://i.ibb.co/HrfVRcx/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('https://i.ibb.co/rt3HybH/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.only-logo {
    position: absolute;
    margin: 0;
    top: 50px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
}

.social {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 5px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5)  translateY(-15px);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111;
}


.menu ul.menus {
    position: relative;
    list-style: none;
}

.menus a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}

.policy {
    position: absolute;
    bottom: 100px;
    font-size: 5px;
}

.iubenda-nostyle {
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}

.menu ul li a:hover {
    color: rgb(0, 191, 255);
}

.allenatori {
    width: 100vw;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content:initial;
}

.tit {
    font-size: 30px;
    position: relative;
    z-index: 5;
}

.card-content {
    margin: 10px;
    width: 175px;
    height: 218.75px;
    padding: 0;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card-content:hover {
    transform: scale(0.95);
}

.contenitore {
    position: relative;
    display: flex;
    flex-direction: row;
}

.separatore {
    margin-top: 133.75px;
    padding: 10px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.314) 30%,
        black);
}

.separatore h1 {
    font-size: 1em;
}

.separatore p {
    font-size: 0.9em;
}

.vertical-divider {
    height: 20px;
    width: 1px;
    padding: 0;
    background-color: black;
}

.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.699);
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 500;
    box-shadow: 3px 6px 10px rgba(17, 17, 17, 0.567);
}

.next-page a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.numb {
    margin: 5px;
    padding: 5px;
}

#numfix {
    color: rgba(17, 17, 17, 0.707);
}

@media(min-width: 515px) {
    .showcase, .menu {
        display: none;
    }

    body {
        background-color: white;
        max-height: 100vh;
        max-width: 100vw;
    }

    .oversize {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90vh;
        width: 100vw;
    }
    
    .over {
        text-decoration: none;
        position: fixed;
        bottom: 10px;
        width: fit-content;
        height: fit-content;
        padding: 5px 10px;
        border-radius: 12px;
        color: rgb(0, 0, 0);
        background-color: white;
        box-shadow: 0 0 50px #ccc;
        position: relative;
        font-weight: 500;
        cursor: not-allowed;
    }
}

@media(max-width: 515px) {
    .oversize, .over {
        display: none;
    }
    .showcase, .showcase header {
        padding: 0;
    }
    .only-logo {
        top: 25px;
    }
    .showcase header {
        padding: 15px 20px;
    }
}