@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: black;
}
* {
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(0, 0, 0);
}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    z-index: 2;
    transition: 1.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    filter: invert(100%);
    position: relative;
    width: 60px;
    height: 60px;
    background: url('https://i.ibb.co/HrfVRcx/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('https://i.ibb.co/rt3HybH/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.only-logo {
    position: absolute;
    margin: 0;
    top: 50px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
}

.social {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 5px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5)  translateY(-15px);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111;
}


.menu ul.menus {
    position: relative;
    list-style: none;
}

.menus a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}

.policy {
    position: absolute;
    bottom: 100px;
    font-size: 5px;
}

.iubenda-nostyle {
    font-size: 13px;
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}

.menu ul li a:hover {
    color: rgb(0, 191, 255);
}

.description {
    width: 100%;
    margin-top: 80px;
    position: relative;
    justify-content: center;
    overflow: none;
}

.contenitore { 
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    transform-style: inherit;
}

.profileph {
    position: absolute;
    top: -0px;
    width: 50%;
    border-radius: 12px;
    z-index: -1;
}

.description2 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 12px;
    width: 85vw;
}

.lastwk {
    width: 85vw;
    padding: 12px;
}

.lst {
    font-size: 23px;
    margin-bottom: -5px;
    text-transform: uppercase;
}

.description2 h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.description2 p {
    font-size: 15px;
}

.profile {
    height: 320px;
    width: 85vw;
    margin: 0px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 0 50px #ccc;
}

.divvid {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.divv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.help div {
    font-weight: 700;
    text-align: center;
    justify-content: baseline;
    font-size: 20px;
}

.pres {
    width: 100%;
}
.name {
    text-align: center;
    font-size: 25px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}

svg path {
    will-change: auto;
    stroke-width: 20px;
    stroke-miterlimit: round;
    stroke-linecap: round;
    transition: stroke-dashoffset 850ms ease-in-out;
}

.ct {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct1, .ct2 {
    position: absolute;
}

.ct2 {
    top: -15px;
}

.txt {
    position: absolute;
    top: 10px;
}

.scrollmenu {
    margin-top: 20px;
    max-width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.scrollmenu::-webkit-scrollbar {
    display: none;
}

.slide1, .slide2, .slide3 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
    text-decoration: none;
    width: 80vw;
    height: 42vw;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.slide1 {
    background-image: url(/Media/sport.jpg);
}

.slide2 {
    background-image: url(/Media/pull-up.jpg);
    background-position:center;
}

.slide3 {
    background-image: url(/Media/Dumbell.jpg);
    background-position:center;
}

.slide1:hover, .slide2:hover, .slide3:hover {
    transform: scale(0.95);
}

.slide1:active, .slide2:active, .slide3:active {
    transform: scale(0.95);
}

.boxslide {
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.boxslide2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: auto;
}

.level {
    background-color: rgba(146, 146, 146, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 8px;
    color: white;
    padding: 3px;
}

h1.workout-name {
    text-align: left;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

h2.workout-type {
    text-align: left;
    color: #fff;
    font-size: 8px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.logos {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 7px;
    margin-left: 5px;
    text-shadow: 0 0 10px rgb(110, 103, 103);
}

#bottone {
    box-shadow: 0 0 50px #ccc;
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 12px;
    transition-duration: 0.5s;
}

#bottone:hover {   
    letter-spacing: 6px;
    color: rgb(0, 191, 255);
}

.CTA {
    margin-bottom: 30px;
}

@media(min-width: 515px) {
    .showcase, .menu {
        display: none;
    }

    body {
        background-color: white;
        max-height: 100vh;
        max-width: 100vw;
    }

    .oversize {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90vh;
        width: 100vw;
    }
    
    .over {
        text-decoration: none;
        position: fixed;
        bottom: 10px;
        width: fit-content;
        height: fit-content;
        padding: 5px 10px;
        border-radius: 12px;
        color: rgb(0, 0, 0);
        background-color: white;
        box-shadow: 0 0 50px #ccc;
        position: relative;
        font-weight: 500;
        cursor: not-allowed;
    }
}

@media(max-width: 515px) {
    .oversize, .over {
        display: none;
    }
    .showcase, .showcase header {
        padding: 0;
    }
    .only-logo {
        top: 25px;
    }
    .showcase header {
        padding: 15px 20px;
    }
}